<div class="predator-badge-container">
    <div class="predator-badge"></div>
</div>

<div *ngIf="predatorData">
    <div class="countdown-container">
        <div class="countdown-text">
            <p>{{countdown}}</p>
        </div>
    </div>
</div>

<div class="predator-cap-header-container">
    <div class="predator-cap-header-text" *ngIf="isPc">
        <p>{{predatorData.RP.PC.val | number}} LP</p>
        <p>{{predatorData.RP.PC.totalMastersAndPreds | number}} masters and preds</p>
    </div>
    <div class="predator-cap-header-text" *ngIf="isXbox">
        <p>{{predatorData.RP.X1.val | number}} LP</p>
        <p>{{predatorData.RP.X1.totalMastersAndPreds | number}} masters and preds</p>
    </div>
    <div class="predator-cap-header-text" *ngIf="isPlaystation">
        <p>{{predatorData.RP.PS4.val | number}} LP</p>
        <p>{{predatorData.RP.PS4.totalMastersAndPreds | number}} masters and preds</p>
    </div>
</div>


<div class="input-container">
    <div class="icon" [ngStyle]="{'color': isPc === true ? 'red' : 'grey'}">
        <fa-icon (click)="inputIsPc()" [icon]="faDesktop"></fa-icon>
    </div>
    <div class="icon" [ngStyle]="{'color': isPlaystation === true ? 'red' : 'grey'}">
        <fa-icon (click)="inputIsPlaystation()" [icon]="faPlaystation"></fa-icon>
    </div>
    <div class="icon" [ngStyle]="{'color': isXbox === true ? 'red' : 'grey'}">
        <fa-icon (click)="inputIsXbox()" [icon]="faXbox"></fa-icon>
    </div>
</div>