@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.predator-badge-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.predator-badge {
    width: 150px;
    height: 150px;
    /* Credit to: https://www.reddit.com/r/apexlegends/comments/e6d0i0/made_a_cool_logo_for_predator_hope_you_guys_like/ */
    background-image: url('../../../../assets/images/predator-badge.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.countdown-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.countdown-text {
    font-family: 'Bebas Neue', sans-serif;
    color: grey;
    font-size: 50px;
}