<div class="predator-badge-container">
    <div class="test-div">
        <img src="assets/images/predator-badge.gif">
    </div>
</div>

<div *ngIf="predatorData">
    <div class="countdown-container">
        <div class="countdown-text">
            <p>{{countdown}}</p>
        </div>
    </div>
</div>

<div *ngIf="predatorData">
    <div class="predator-cap-header-container">
        <div class="predator-cap-header-text" *ngIf="isPc">
            <p>{{predatorData.RP.PC.val | number}} LP</p>
            <p>{{predatorData.RP.PC.totalMastersAndPreds | number}} masters and preds</p>
            <br>
            <p class="predicted-end">Predator will end at : <span class="end-cap">{{pcPredictedEndLp | number:
                    '1.0-0'}}</span></p>
        </div>
        <div class="predator-cap-header-text" *ngIf="isPlaystation">
            <p>{{predatorData.RP.PS4.val | number}} LP</p>
            <p>{{predatorData.RP.PS4.totalMastersAndPreds | number}} masters and preds</p>
            <br>
            <p class="predicted-end">Predator will end at : <span class="end-cap">{{playstationPredictedEndLp | number
                    :'1.0-0'}}</span></p>
        </div>
        <div class="predator-cap-header-text" *ngIf="isXbox">
            <p>{{predatorData.RP.X1.val | number}} LP</p>
            <p>{{predatorData.RP.X1.totalMastersAndPreds | number}} masters and preds</p>
            <br>
            <p class="predicted-end">Predator will end at : <span class="end-cap">{{xboxPredictedEndLp | number:
                    '1.0-0'}}</span></p>
        </div>
    </div>
</div>

<div *ngIf="predatorData" class="input-container">
    <div class="icon" [ngStyle]="{'color': isPc === true ? 'red' : 'grey'}">
        <fa-icon (click)="inputChange(1)" [icon]="faDesktop"></fa-icon>
    </div>
    <div class="icon" [ngStyle]="{'color': isPlaystation === true ? 'red' : 'grey'}">
        <fa-icon (click)="inputChange(2)" [icon]="faPlaystation"></fa-icon>
    </div>
    <div class="icon" [ngStyle]="{'color': isXbox === true ? 'red' : 'grey'}">
        <fa-icon (click)="inputChange(3)" [icon]="faXbox"></fa-icon>
    </div>
</div>

<div class="container">
    <form id="userLpForm" (keydown.enter)="$event.preventDefault()">
        <div class="group">
            <input id="userLpValue" type="text" autocomplete="off" required>
            <span class="bar"></span>
            <label>Current LP</label>
            <div>
                <button (click)="initUserLp()" class="rp-button">send</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="userLpRequiredTotal && userIsSafe === false" class="predicted-lp-container">
    <div class="predicted-lp-text">
        <p>In order to end the split as an Apex Predator you need <span class="end-cap">{{userLpRequiredTotal | number:
                '1.0-0'}} </span><span class="lp">LP</span> , at an average of <span
                class="end-cap">{{userLpRequiredPerDay | number: '1.0-0'}} </span><span class="lp">LP</span> per day.
        </p>
    </div>
    <br>
    <div class="predicted-lp-text-warning">
        <p>Note that these values are only predictions as the predator end cap is impossible to know ahead of time.</p>
    </div>
</div>

<div *ngIf="userLpRequiredTotal && userIsSafe === true" class="predicted-lp-container">
    <p>YOU ARE SAFE!</p>
</div>

<div id="footer">
    <a class="footer-icon" href="https://discordapp.com/users/196181619185418241" target="_blank">
        <fa-icon [icon]="faDiscord"></fa-icon>
    </a>
</div>